<div class="notification is-warning mt-4" *ngIf="message">
	<button class="delete" (click)="showMessage('');"></button>
	<p class="is-centered">{{ message }}</p>
</div>
<form #datafrom="ngForm">
	<section class="section pt-4">
		<div class="container is-fluid">
			<div class="columns is-multiline" *ngIf="showInfo">
				<div class="column is-3">
					<div class="card outlined">
						<header class="card-header is-fluid is-centered">
							<p class="card-header-title is-fluid is-centered">
								<span class="is-fullwidth">
									<span class="icon"><fa-icon [icon]=faMoneyBill></fa-icon></span>
									<span>&nbsp;xCash</span>
								</span>
							</p>
						</header>
						<div class="card-content is-fluid has-text-centered pt-0">
							<div class="content">
								<p class="has-text-weight-semibold">
									This node is one of the xCash delegates that make up the xCash Public Network.
									The network is governed by 50 delegates through a custom Delegated
									Proof of Stake consensus designed on top of the Monero technology, the Delegated
									Proof of Private Stake (DPOPS).
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="column is-3">
					<div class="card outlined">
						<header class="card-header is-fluid is-centered">
							<p class="card-header-title is-fluid is-centered">
								<span class="is-fullwidth">
									<span class="icon"><fa-icon [icon]=faCircleInfo></fa-icon></span>
									<span>&nbsp;About</span>
								</span>
							</p>
						</header>
						<div class="card-content is-fluid has-text-centered pt-0">
							<div class="content">
								<p class="has-text-weight-semibold">{{about}}</p>
								<p class="has-text-weight-semibold">
									{{ delegateType }}<br>
									Delegate Fee: {{ fee}}%<br>
									Online Percent: {{ onlinePercent }}%
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="column is-3">
					<div class="card outlined">
						<header class="card-header is-fluid is-centered">
							<p class="card-header-title is-fluid is-centered">
								<span class="is-fullwidth">
									<span class="icon"><fa-icon [icon]=faUserPlus></fa-icon></span>
									<span>&nbsp;Team</span>
								</span>
							</p>
						</header>
						<div class="card-content is-fluid has-text-centered pt-0">
							<div class="content">
								<p class="has-text-weight-semibold">{{team}}</p>
							</div>
						</div>
					</div>
				</div>
				<div class="column is-3">
					<div class="card outlined">
						<header class="card-header is-fluid is-centered">
							<p class="card-header-title is-fluid is-centered">
								<span class="is-fullwidth">
									<span class="icon"><fa-icon [icon]=faServer></fa-icon></span>
									<span>&nbsp;Server</span>
								</span>
						</header>
						<div class="card-content is-fluid has-text-centered pt-0">
							<div class="content">
								<p class="has-text-weight-semibold">{{specifications}}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="columns is-multiline" *ngIf="showInfo">
				<div class="column">
					<div class="card outlined">
						<header class="card-header is-fluid is-centered">
							<p class="card-header-title is-fluid is-centered">
								<span class="is-fullwidth">
									<span class="icon"><fa-icon [icon]=faCheckToSlot></fa-icon></span>
									<span>&nbsp;Voting</span>
								</span>
							</p>
						</header>
						<div class="card-content has-text-centered pt-2">
							<div class="content">
								<div class="field">
									<label class="label pr-1">xCash-wallet-cli Voting Commands:</label>
									<div class="control">
										<input class="input is-hovered is-fullwidth" type="text" name="vote1"
											[(ngModel)]="voteCmd1" readonly>
									</div>
								</div>
								<div class="field">
									<label class="label pr-1">or</label>
									<div class="control">
										<input class="input is-hovered is-fullwidth" type="text" name="vote2"
											[(ngModel)]="voteCmd2" readonly>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</form>
<div class="spinner-container" *ngIf="showSpinner">
	<div class="spinner"></div>
</div>